@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        * {
            font-family: 'Poppins', 'sans-serif';
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
        /*  Transition  */
            --tran-02: all 0.2s ease;
            --tran-03: all 0.3s ease;
            --tran-04: all 0.4s ease;
            --tran-05: all 0.5s ease;

            /*  Colors   */
            --body-color: #E4E9E7;
            --sidebar-color: #FFF;
            --primary-color: #2e7d32;
            --primary-color-light: #F6F5FF;
            --toggle-color: #DDD;
            --text-color: #498b4c;
        }

        html, body { height: 100%; margin:0; }
        body {
            display: flex;
            background: var(--body-color);
            transition: var(--tran-05);
            overflow: hidden;
        }

        /*  Reusable CSS*/
        .sidebar .text{
            font-size: 16px;
            font-weight: 500;
            color: var(--text-color);
            transition: var(--tran-04);
            white-space: nowrap;
            opacity: 1;
        }

        .sidebar .image {
            min-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /*   Sidebar   */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            padding: 10px 14px;
            background: var(--sidebar-color);
            transition: var(--tran-05);
            z-index: 100;
            overflow-y: hidden;
        }

        .sidebar.close {
            width: 88px;
        }

        .sidebar.close .text{
            opacity: 0;
        }

        .sidebar li .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            font-size: 20px;
        }

        .sidebar li .icon, 
        .sidebar li .text {
            color: var(--text-color);
            transition: var(--tran-02);
        }

        .sidebar li {
            height: 50px;
            margin-top: 10px;
            list-style: none;
            display: flex;
            align-items: center;
        }

        /*Dont understand how this one change can move the arrow icon back to the top*/
        .sidebar header {
            position: relative;
        }

        .sidebar .image-text img {
            width: 40px;
            border-radius: 6px;
        }

        .sidebar header .image-text {
            display: flex;
            align-items: center;
        }

        header .image-text .header-text {
            display: flex;
            flex-direction: column;
        }


        .header-text .name {
            font-weight: 600;
        }

        .header-text .role {
            margin-top: -2px;
        }

        .sidebar header .toggle {
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%) rotate(180deg);
            height: 25px;
            width: 25px;
            background: var(--primary-color);
            display: flex;
            align-items: center;
            border-radius: 50%;
            color: var(--sidebar-color);
            font-size: 22px;
            transition: var(--tran-03);
        }

        .sidebar.close header .toggle {
            transform: translateY(-50%);
        }

        body.dark .sidebar header .toggle {
            color: var(--text-color);
        }

        .sidebar .menu {
            margin-top: 35px;
        }

        .sidebar .search-box {
            background: var(--primary-color-light);
            border-radius: 6px;
            transition: var(--tran-05);
        }

        .search-box input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: 500;
            border-radius: 6px;
            background: var(--primary-color-light);
            color: var(--text-color);
        }

        .sidebar li a {
        /*lowkey dont understand how align-items suddenly makes the search box thinner and fit*/
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 6px;
            transition: var(--tran-04);
        }

        .sidebar li a:hover {
            background: var(--primary-color);
        }

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--sidebar-color);
        }

        body.dark .sidebar li a:hover .icon,
        body.dark .sidebar li a:hover .text {
            color: var(--text-color);
        }

        .sidebar .menu-bar {
            height: 100%;
            overflow-y: auto;
            padding: 8px;

        }
       

        .menu-links {
            padding-left: 0px;
        }

        


